* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #192a56;
  padding: 10px 0;
  color: #fff;
}

form {
  max-width: 480px;
  font-size: 12px;
}

form input {
  width: 100%;
  display: block;
  padding: 5px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #192a56;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.formField {
  margin: 10px auto;
}
