* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 100px;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

form input {
  font-size: 18px;
  padding: 10px;
  margin-right: 5px;
}

form button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

#txtTaskDescription {
  width: 400px;
}

#cmdAddTask {
  width: 100px;
}

ul li {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

.taskCompleted {
  text-decoration: line-through;
}
